/* Nav Bar Styles */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C8AD7F;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
}

.search-bar button {
    padding: 5px;
    background-color: #9F8C76;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

.search-bar button:hover {
    background-color: #777;
}

/* Hero Section */
#hero-section {
    background-image: url('images/bakemono-hero.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.hero-content button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #C8AD7F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    background-color: #f57c00;
}

/* About Us Section */
#about-section {
    background-image: url('images/bakemono-about.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff; 
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.about-content {
    position: relative;
    z-index: 1;
}

.about-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Baking Sched Section Styles */
	#baking-schedule .cs-container {
	  width: 100%;
	  /* changes to 1280px at desktop */
	  max-width: 44rem;
	  margin: auto;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  gap: 2rem;
	}
	#baking-schedule .cs-image-group {
	  font-size: min(2.24vw, 0.9rem);
	  width: 30.125em;
	  height: 38.5em;
	  display: block;
	  position: relative;
	  z-index: 1;
	}
	#baking-schedule .cs-picture {
	  width: 43em;
	  height: 24em;
	  margin-top: 1.5em;
	  box-sizing: border-box;
	  background-color: #DAB692;
	  overflow: hidden;
	  border: 8px solid #DAB692;
	  border-radius: 16.25rem;
	  position: absolute;
	  left: 0.5em;
	  z-index: -1;
	}
	#baking-schedule .cs-number-img {
		width: 150px;
		height: auto;
	}
	#baking-schedule .cs-picture img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  position: absolute;
	  top: 0;
	  left: 0;
	  transition: transform 0.7s;
	}
	#baking-schedule .cs-graphic {
	  height: auto;
	  position: absolute;
	}
	#baking-schedule .cs-brown {
	  width: 10.3125em;
	  height: auto;
	  top: 1.25em;
	  left: 1.5em;
	  z-index: -2;
	  transform: rotate(140deg);
	}
	#baking-schedule .cs-peach {
	  width: 4.3125em;
	  height: auto;
	  top: 1em;
	  left: 8.75em;
	  transform: rotate(-40deg);
	}
	#baking-schedule .cs-leaf {
	  width: 14em;
	  height: auto;
	  bottom: 0em;
	  right: 1em;
	  z-index: 1;
	}
	#baking-schedule .cs-dots {
	  width: 16.3125em;
	  height: auto;
	  left: 1em;
	  bottom: 1em;
	  z-index: -2;
	}
	#baking-schedule .cs-lines {
	  width: 15.375em;
	  right: 0;
	  bottom: 0em;
	}
	#baking-schedule .cs-wrapper {
	  display: flex;
	  flex-direction: column;
	  /* 48px - 64px */
	  gap: clamp(3rem, 6vw, 4rem);
	}
	#baking-schedule .cs-content {
	  text-align: left;
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  align-items: flex-start;
	}
	#baking-schedule .cs-topper {
	  color: var(--secondary);
	}
	#baking-schedule .cs-title {
	  margin: 0;
	}
	#baking-schedule .cs-card-group {
	  margin: 0;
	  padding: 0;
	  display: grid;
	  align-items: stretch;
	  grid-auto-flow: row;
	  gap: clamp(1.5rem, 3vw, 2rem);
	}
	#baking-schedule .cs-item {
	  list-style: none;
	  padding-bottom: 2rem;
	  border-bottom: #DED1BD 1px solid;
	  display: flex;
	  align-items: flex-start;
	  gap: clamp(1rem, 2vw, 1.5rem);
	  position: relative;
	}
	#baking-schedule .cs-item:last-of-type {
	  border-bottom: none;
	}
	#baking-schedule .cs-number {
	  font-size: clamp(3.0625rem, 6vw, 4.5rem);
	  font-weight: 900;
	  line-height: 1.1875em;
	  color: var(--primary);
	  opacity: 0.2;
	  display: block;
	}
	#baking-schedule .cs-h3 {
	  font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
	  font-weight: 700;
	  line-height: 1.125em;
	  margin: 0 0 0.75rem 0;
	  color: var(--headerColor);
	}
	#baking-schedule .cs-item-text {
	  font-size: 1rem;
	  line-height: 1.5em;
	  text-align: left;
	  margin: 0;
	  color: var(--bodyTextColor);
	}

/* News Article Section */
#news-section {
    background-color: #9F8C76;
    padding: 50px;
    text-align: center;
}

#news-section h2 {
    font-size: 2em;
    color: #333;
}

.articles-container {
    display: flex;
    justify-content: space-between;
}

.news-article {
    width: 48%;
    margin-top: 20px;
    text-align: center;
}

.news-article h3 {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 10px;
}

.news-article img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

.news-article time {
    font-style: italic;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.news-article p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
}

/* Reviews Section */
#reviews-section {
    background-color: #FFF0DB;
    padding: 50px;
    text-align: center;
}

#reviews-section h2 {
    font-size: 2em;
    color: #333;
}

.review {
    display: flex; /* Change to flexbox */
    flex-direction: row; /* Stack image and review content vertically */
    align-items: center; /* Center items horizontally */
    width: 30%; 
    margin: 20px;
    text-align: left;
}

.review img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.review .review-content {
    font-size: 1.2em;
    color: #666;
    line-height: 1.5;
}

.review .review-content p:last-child {
    margin-left: 0; /* Reset margin-left */
}


/* Footer Section Styles */
footer {
    background-color: #C8AD7F;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 200px;
    margin: 1rem;
}

.footer-section h4 {
    margin-bottom: 1rem;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.newsletter input[type="email"] {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 0.25rem;
}

.newsletter button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #9F8C76;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #777;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 2rem;
    }
}
